body {
    background-color: rgb(40, 37, 37);
    color: white;
}

a {
    color: white;
}

a:hover {
    color: blue;
}

@media only screen and (max-width: 426px) {
nav {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

.hey{
    min-width: 20vw;
    min-height: 20vw;
}

div .intro {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table li {
    margin-left: 5vw;
}

footer {
    text-align: center;
}

.grid-item {
    display: block;
    margin-top: 10vw;
}

.grid-item a {
    margin-left: 5vw;
    margin-right: 5vw;
}
}

@media only screen and (max-width: 770px) {
    nav {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .hey{
        min-width: 20vw;
        min-height: 20vw;
    }
    
    div .intro {
        text-align: center;
    }
    
    table {
        margin-left: auto;
        margin-right: auto;
    }
    
    table li {
        margin-left: 5vw;
    }
    
    footer {
        text-align: center;
    }
    
    .grid-item {
        display: block;
        margin-top: 10vw;
    }
    
    .grid-item a {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

@media only screen and (min-width: 770px) {
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10vw;
    }

    nav a {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    
    .hey{
        min-width: 20vw;
        min-height: 20vw;
    }

    .introwrap {
        width: 90vw;
        display: flex;
        flex-direction: row;
    }
    
    .intro {
        flex-grow: 1;
        text-align: center;
        column-gap: 50px;
        border: 1px solid rgba(0, 0, 0, 0.8);
        max-width: 20vw;
        padding-bottom: 3vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    
    table li {
        margin-left: 1vw;
    }
    
    footer {
        text-align: center;
    }
    
    .grid-item {
        display: block;
        margin-top: 10vw;
    }
    
    .grid-item a {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    
    img {
        max-width: 20vw;
    }
}
